[submodule "customer-service"]
	path = customer-service
	url = https://github.com/abderrahimJK/customer-service.git
[submodule "Inventory-service"]
	path = Inventory-service
	url = https://github.com/abderrahimJK/Inventory-service.git
[submodule "gateway-service"]
	path = gateway-service
	url = https://github.com/abderrahimJK/gateway-service.git
[submodule "eureka-descovery"]
	path = eureka-descovery
	url = https://github.com/abderrahimJK/eureka-descovery.git
[submodule "billing-service"]
	path = billing-service
	url = https://github.com/abderrahimJK/billing-service.git
